.navigation {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.navigation-title {
    display: flex;
    width: 25%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.navigation-title a {
    color:white;
    font-size: var(--font-size-big);
    
}
.button-container {
    width: 25%;
    height: 35%;
    align-self: center;

}
.button-create {
    background-color: var(--action-color);
    font-size: var(--font-size-medium);
    padding: 0.5rem;
    border-radius: 1rem;
}